<html xmlns="http://www.thymeleaf.org">
<head th:replace="head::includes"></head>
<body>
    <header th:replace="headers::header"></header>
    <div th:replace="adminnav::adminnav"></div>
    
    <div class="container mt-4">
        <div class="table-responsive" style="border-radius: 1.5rem;">
            <table class="table table-striped  table-hover">
                <thead style="background-color: brown;color: aliceblue;">
                    <tr>
                        <th>Selected ID</th>
                        <th>Vacancy Title</th>
                        <th>Test Date</th>
                        <th>Test Duration</th>
                        <th>Candidate Name</th>
                        <th>Score</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody style="background-color:rgb(255, 255, 255) ;">
                    <tr th:each="selected : ${selectedList}">
                        <td th:text="${selected.id}"></td>
                        <td th:text="${selected.vacancy.jobTitle}"></td>
                        <td th:text="${selected.test.testDate}"></td>
                        <td th:text="${selected.test.testDuration}"></td>
                        <td th:text="${selected.jobSekers.firstName + ' ' + selected.jobSekers.lastName}"></td>
                        <td th:text="${selected.score}"></td>
                        <td th:text="${selected.status}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="footer::foot" class="mt-4"></div>
</body>
</html>
