<html xmlns="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hire Me Now</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Netflix+Sans&display=swap">


    <!-- Bootstrap core CSS -->
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        #mainNav  a{
            color: black;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
</head>

<body>

    <header class="site-header  py-1">
        <nav class="navbar navbar-expand-lg navbar-dark p-3 " id="mainNav">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img th:src="@{/images/Hirelogo.jpeg}" style="margin-left: 4rem;" class="img img-sm img-fluid rounded-circle"  >
              </a>
              <button class="navbar-toggler"  style="background-color: rgb(7, 7, 8);" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto ">
                  <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" th:href="@{index}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" th:href="@{About}">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2" th:href="@{Contact}">Contact</a>
                  </li>
                 
                  <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Logins
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" th:href="@{admin/adminHome}">Admin</a></li>
                      <li><a class="dropdown-item" th:href="@{company/companyHome}">Company</a></li>
                      <li><a class="dropdown-item" th:href="@{jobseeker/jobHome}">JobSeekers</a></li>
                    </ul>
                  </li>
                 
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <section class="py-5">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8 col-xxl-7">
                <span class="text-muted">Find Your Dream Job</span>
                <h2 class="display-5 fw-bold mb-3">Explore Job Opportunities</h2>
                <p class="lead">Discover a wide range of job vacancies offered by leading companies. Apply to your desired positions, take tests, and get hired hassle-free. Lorem ipsum dolor, sit amet elit Quamnitm veniam dicta, quos nemo minima nulla ducimus officii nulla ducimus officiis! Lorem ipsum dolor, sit amet elit Quamnitm.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 mt-2">
                <form>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input class="form-control bg-light" placeholder="First name" type="text" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input class="form-control bg-light" placeholder="Last name" type="text" disabled>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <textarea class="form-control bg-light" placeholder="Your message" rows="4" disabled></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Send message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    	<div th:replace="footer::foot" class="mt-4"></div>    
    </body>
    </html>