

	<div th:fragment="header">

<header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">
          <a class="navbar-brand" href="#"><img th:src="@{/images/Hirelogo.jpeg}" alt="Not found"
              class="img img-sm img-fluid rounded-circle" /></a>

        </div>
        <div class="col-md-3">
          <h1 style="color:red;" class="mt-5"><span style="color:#786DEE;">Hire</span>MeNow</h1>
        </div>
        <div class="col-md-5">

        </div>
        <div class="col-md-3 mt-4" id="kk">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter-x"></i>
          <i class="bi bi-instagram"></i>

        </div>
      </div>
    </div>
  </header>
  </div>